In [223]:
import pandas as pd
import numpy as np
import glob
import os
import re
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing, model_selection
import tensorflow as tf
from sklearn.metrics import confusion_matrix
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.callbacks import ModelCheckpoint

In [224]:
df = pd.read_csv('woodbine_horses.csv')
df.shape

(4370, 27)

In [225]:
print(df.columns)

Index(['track', 'card_id', 'race_date', 'breed', 'name', 'weight', 'age',
       'sex', 'meds_and_equip', 'jockey', 'dollar_odds', 'program_number',
       'post_position', 'claim_price', 'start_position', 'finish_position',
       'finish_time', 'speed_rating', 'trainer', 'owner', 'win_payoff',
       'place_payoff', 'show_payoff', 'weather', 'distance', 'race_type',
       'track_conditions'],
      dtype='object')

In [226]:
#Exploratory analysis
df.head()

,track,card_id,race_date,breed,name,weight,age,sex,meds_and_equip,jockey,...,speed_rating,trainer,owner,win_payoff,place_payoff,show_payoff,weather,distance,race_type,track_conditions
0,WO,D,2015-06-20 00:00:00,TB,Madam Premier,119,4,M,Lb,S Ryan,...,44.0,O'Keefe Thomas,Emily Anne Walker,0.0,0.0,0.0,Cloudy,900.0,Claiming,FT
1,WO,D,2015-07-19 00:00:00,TB,Notion Sonet,118,3,C,L,L Contreras,...,96.0,Carroll Josie,Ivan Dalos,0.0,0.0,0.0,Cloudy,650.0,Allowance,FT
2,WO,D,2015-07-25 00:00:00,TB,Big Red Bugsy,121,5,G,L,S R Bahen,...,83.0,Fournier Mark,"Carruthers, Carruthers, Carruthers, Carruthers...",0.0,0.0,0.0,Cloudy,700.0,Claiming,FT
3,WO,D,2015-08-14 00:00:00,TB,Lillz Pearl,121,5,G,Lb,J McAleney,...,88.0,Singh Ricky,Ricky Singh,0.0,5.7,3.3,Clear,500.0,Allowance,FT
4,WO,D,2015-08-29 00:00:00,TB,Sweet Rose,121,4,F,NaN,L Contreras,...,86.0,Attard Sid C,Stronach Stables,0.0,0.0,3.1,Cloudy,500.0,Allowance,FT

In [227]:
#There's only 1 value for the track feature, making it unnecessary
df['track'].value_counts()

WO     4370
Name: track, dtype: int64

In [228]:
#There's only 1 value for the track feature, making it unnecessary
df['card_id'].value_counts()

D    4370
Name: card_id, dtype: int64

In [229]:
df['race_date'].value_counts()

2016-10-16 00:00:00    106
2016-09-25 00:00:00     92
2016-10-29 00:00:00     89
2016-10-09 00:00:00     89
2016-09-17 00:00:00     88
                      ...
2016-05-19 00:00:00      1
2016-05-15 00:00:00      1
2016-05-14 00:00:00      1
2016-05-13 00:00:00      1
2017-04-05 00:00:00      1
Name: race_date, Length: 205, dtype: int64

In [230]:
df['breed'].value_counts()

TB    4370
Name: breed, dtype: int64

In [126]:
df['name'].value_counts()

Primordia               9
Cape Zavata             8
Foxy Phill              8
Erie Breeze             8
Buckden House           8
                       ..
dq-Too Many Egbert's    1
Nezwaah (GB)            1
Bangla Dancer           1
Uncle Shaggy            1
My Cantata              1
Name: name, Length: 1600, dtype: int64

In [127]:
df['weight'].value_counts()

119    1119
121    1064
118     587
120     417
0       317
117     237
123     198
116     162
115     100
114      83
122      44
124      15
113      13
126      12
112       1
109       1
Name: weight, dtype: int64

In [128]:
df['age'].value_counts()

3     1181
4     1023
2      674
5      562
6      331
0      317
7      208
8       44
9       23
10       4
11       3
Name: age, dtype: int64

In [129]:
df['sex'].value_counts()

G    1824
F    1060
M     853
C     184
H     111
R      21
Name: sex, dtype: int64

In [130]:
df['meds_and_equip'].value_counts()

Lb      1709
L       1533
Lbf      243
Lf       213
b        131
Ly        14
Lv        13
y         10
bf         8
Lby        6
f          5
Lvf        5
Lfy        5
by         4
v          4
Lbfy       1
bfy        1
Lbfr       1
Lbr        1
Name: meds_and_equip, dtype: int64

In [131]:
df['jockey'].value_counts()

E R Da Silva     285
R M Hernandez    284
L   Contreras    258
G   Boulanger    249
D   Moran        240
                ...
W T Buick          1
C P DeCarlo        1
O   Murphy         1
P   Morales        1
H F Newell         1
Name: jockey, Length: 86, dtype: int64

In [132]:
df['dollar_odds'].value_counts()

0.00      319
2.65       26
3.00       25
2.80       24
2.20       22
         ...
79.35       1
158.15      1
19.20       1
76.35       1
25.40       1
Name: dollar_odds, Length: 1212, dtype: int64

In [133]:
df['program_number'].value_counts()

5.0     446
2.0     443
1.0     436
4.0     435
3.0     433
6.0     430
7.0     383
8.0     323
9.0     240
10.0    161
11.0    121
12.0     90
13.0     55
14.0     42
15.0     10
16.0      5
Name: program_number, dtype: int64

In [134]:
df['post_position'].value_counts()

1     461
2     459
3     457
4     455
5     454
6     448
7     383
0     317
8     313
9     228
10    144
11    107
12     78
13     40
14     26
Name: post_position, dtype: int64

In [135]:
df['claim_price'].value_counts()

0        1859
9500      475
20000     270
10000     264
40000     245
7500      172
19000     135
8000      121
6000      110
37500     105
12500      87
25000      85
11500      82
32000      67
16000      64
15000      54
6250       45
30000      33
60000      30
62500      20
23500      20
75000      12
50000       9
47500       4
72500       1
80000       1
Name: claim_price, dtype: int64

In [136]:
df['start_position'].value_counts()

1.0     464
3.0     458
4.0     456
2.0     451
5.0     438
6.0     432
0.0     409
7.0     373
8.0     300
9.0     211
10.0    139
11.0    102
12.0     72
13.0     39
14.0     26
Name: start_position, dtype: int64

In [137]:
df['finish_position'].value_counts()

3.0     470
2.0     466
1.0     464
4.0     457
5.0     454
6.0     444
7.0     383
0.0     317
8.0     305
9.0     227
10.0    139
11.0    104
12.0     73
13.0     41
14.0     26
Name: finish_position, dtype: int64

In [138]:
df['finish_time'].value_counts()

0.0    4053
Name: finish_time, dtype: int64

In [139]:
df['speed_rating'].value_counts()

68.0     119
80.0     117
72.0     113
69.0     112
75.0     111
        ...
22.0       1
19.0       1
17.0       1
27.0       1
107.0      1
Name: speed_rating, Length: 118, dtype: int64

In [140]:
df['trainer'].value_counts()

Casse Mark E          158
Attard Kevin          106
De Paulo Michael P     98
McKnight Norman        94
Doyle Michael J        88
                     ...
Benson Liam Daniel      1
Connelly Teresa         1
Hickst Waldemar         1
Concessi Armand         1
Smith Andrew            1
Name: trainer, Length: 285, dtype: int64

In [141]:
df['owner'].value_counts()

Colebrook Farms                                 62
Bruno Schickedanz                               58
Joey Gee Thoroughbreds                          47
Tucci Stables                                   45
Chiefswood Stable                               45
                                                ..
Silver King Farm                                 1
Sheikh Ahmed Al Maktoum Lessee and Godolphin     1
Golden Eagle Farm                                1
Ramsey, Kenneth L. and Sarah K.                  1
JMC's Racing Stable                              1
Name: owner, Length: 864, dtype: int64

In [142]:
df['win_payoff'].value_counts()

0.0     3906
5.5        9
6.5        9
4.7        8
5.7        8
        ...
46.0       1
44.8       1
35.8       1
14.0       1
19.5       1
Name: win_payoff, Length: 194, dtype: int64

In [143]:
df['place_payoff'].value_counts()

0.0     3440
3.0       29
2.9       29
3.6       28
3.3       26
        ...
14.8       1
25.8       1
22.3       1
14.7       1
27.7       1
Name: place_payoff, Length: 157, dtype: int64

In [144]:
df['show_payoff'].value_counts()

0.0     2994
2.1       83
2.9       61
2.8       59
2.6       57
        ...
11.1       1
12.9       1
19.8       1
14.6       1
44.9       1
Name: show_payoff, Length: 117, dtype: int64

In [145]:
df['weather'].value_counts()

Cloudy     3145
Showery     544
Clear       425
Rainy       231
Snowing      25
Name: weather, dtype: int64

In [146]:
df['distance'].value_counts()

850.0     1083
600.0      920
700.0      788
650.0      525
500.0      386
900.0      343
800.0      152
550.0       78
1000.0      39
1200.0      25
1400.0      14
1500.0       9
1300.0       8
Name: distance, dtype: int64

In [147]:
df['race_type'].value_counts()

Claiming                       1756
Maiden Claiming                 797
Allowance                       600
Maiden Special Weight           424
Stakes                          365
Allowance Optional Claiming     188
Maiden Optional Claiming        140
Starters Allowance               85
Optional Claiming                15
Name: race_type, dtype: int64

In [148]:
df['track_conditions'].value_counts()

FT    3771
GD     340
FM     252
YL       7
Name: track_conditions, dtype: int64

In [231]:
df = df.drop(['track', 'card_id', 'breed', 'finish_time'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4370 entries, 0 to 4369
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   race_date         4370 non-null   object
 1   name              4370 non-null   object
 2   weight            4370 non-null   int64
 3   age               4370 non-null   int64
 4   sex               4053 non-null   object
 5   meds_and_equip    3907 non-null   object
 6   jockey            4053 non-null   object
 7   dollar_odds       4370 non-null   float64
 8   program_number    4053 non-null   float64
 9   post_position     4370 non-null   int64
 10  claim_price       4370 non-null   int64
 11  start_position    4370 non-null   float64
 12  finish_position   4370 non-null   float64
 13  speed_rating      4053 non-null   float64
 14  trainer           4053 non-null   object
 15  owner             4053 non-null   object
 16  win_payoff        4370 non-null   float64
 17  place_payoff      4370 non-null   float64
 18  show_payoff       4370 non-null   float64
 19  weather           4370 non-null   object
 20  distance          4370 non-null   float64
 21  race_type         4370 non-null   object
 22  track_conditions  4370 non-null   object
dtypes: float64(9), int64(4), object(10)
memory usage: 785.4+ KB

In [232]:
#Upon review there are numerous records with missing values, only including basic information making them unsuitable for our model
df.dropna(subset = ["trainer"], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4053 entries, 0 to 4369
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   race_date         4053 non-null   object
 1   name              4053 non-null   object
 2   weight            4053 non-null   int64
 3   age               4053 non-null   int64
 4   sex               4053 non-null   object
 5   meds_and_equip    3907 non-null   object
 6   jockey            4053 non-null   object
 7   dollar_odds       4053 non-null   float64
 8   program_number    4053 non-null   float64
 9   post_position     4053 non-null   int64
 10  claim_price       4053 non-null   int64
 11  start_position    4053 non-null   float64
 12  finish_position   4053 non-null   float64
 13  speed_rating      4053 non-null   float64
 14  trainer           4053 non-null   object
 15  owner             4053 non-null   object
 16  win_payoff        4053 non-null   float64
 17  place_payoff      4053 non-null   float64
 18  show_payoff       4053 non-null   float64
 19  weather           4053 non-null   object
 20  distance          4053 non-null   float64
 21  race_type         4053 non-null   object
 22  track_conditions  4053 non-null   object
dtypes: float64(9), int64(4), object(10)
memory usage: 759.9+ KB

In [233]:
'''Upon review of the 'meds and equipment' feature, there are some missing values.  Looked up the codes in the dataframe, and
'L' represents no equipment.  Changed all Nulls to L'''
df['meds_and_equip'].fillna(value='L')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4053 entries, 0 to 4369
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   race_date         4053 non-null   object
 1   name              4053 non-null   object
 2   weight            4053 non-null   int64
 3   age               4053 non-null   int64
 4   sex               4053 non-null   object
 5   meds_and_equip    3907 non-null   object
 6   jockey            4053 non-null   object
 7   dollar_odds       4053 non-null   float64
 8   program_number    4053 non-null   float64
 9   post_position     4053 non-null   int64
 10  claim_price       4053 non-null   int64
 11  start_position    4053 non-null   float64
 12  finish_position   4053 non-null   float64
 13  speed_rating      4053 non-null   float64
 14  trainer           4053 non-null   object
 15  owner             4053 non-null   object
 16  win_payoff        4053 non-null   float64
 17  place_payoff      4053 non-null   float64
 18  show_payoff       4053 non-null   float64
 19  weather           4053 non-null   object
 20  distance          4053 non-null   float64
 21  race_type         4053 non-null   object
 22  track_conditions  4053 non-null   object
dtypes: float64(9), int64(4), object(10)
memory usage: 759.9+ KB

In [234]:
df.head()

,race_date,name,weight,age,sex,meds_and_equip,jockey,dollar_odds,program_number,post_position,...,speed_rating,trainer,owner,win_payoff,place_payoff,show_payoff,weather,distance,race_type,track_conditions
0,2015-06-20 00:00:00,Madam Premier,119,4,M,Lb,S Ryan,7.20,1.0,1,...,44.0,O'Keefe Thomas,Emily Anne Walker,0.0,0.0,0.0,Cloudy,900.0,Claiming,FT
1,2015-07-19 00:00:00,Notion Sonet,118,3,C,L,L Contreras,12.10,4.0,4,...,96.0,Carroll Josie,Ivan Dalos,0.0,0.0,0.0,Cloudy,650.0,Allowance,FT
2,2015-07-25 00:00:00,Big Red Bugsy,121,5,G,L,S R Bahen,24.75,6.0,6,...,83.0,Fournier Mark,"Carruthers, Carruthers, Carruthers, Carruthers...",0.0,0.0,0.0,Cloudy,700.0,Claiming,FT
3,2015-08-14 00:00:00,Lillz Pearl,121,5,G,Lb,J McAleney,3.80,3.0,3,...,88.0,Singh Ricky,Ricky Singh,0.0,5.7,3.3,Clear,500.0,Allowance,FT
4,2015-08-29 00:00:00,Sweet Rose,121,4,F,NaN,L Contreras,2.95,3.0,3,...,86.0,Attard Sid C,Stronach Stables,0.0,0.0,3.1,Cloudy,500.0,Allowance,FT

In [304]:
#Created my features and label
Y = df[['finish_position']]
X = df.drop(['finish_position'], axis=1)

In [308]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4053 entries, 0 to 4369
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   race_date         4053 non-null   object
 1   name              4053 non-null   object
 2   weight            4053 non-null   int64
 3   age               4053 non-null   int64
 4   sex               4053 non-null   object
 5   meds_and_equip    3907 non-null   object
 6   jockey            4053 non-null   object
 7   dollar_odds       4053 non-null   float64
 8   program_number    4053 non-null   float64
 9   post_position     4053 non-null   int64
 10  claim_price       4053 non-null   int64
 11  start_position    4053 non-null   float64
 12  speed_rating      4053 non-null   float64
 13  trainer           4053 non-null   object
 14  owner             4053 non-null   object
 15  win_payoff        4053 non-null   float64
 16  place_payoff      4053 non-null   float64
 17  show_payoff       4053 non-null   float64
 18  weather           4053 non-null   object
 19  distance          4053 non-null   float64
 20  race_type         4053 non-null   object
 21  track_conditions  4053 non-null   object
dtypes: float64(8), int64(4), object(10)
memory usage: 728.3+ KB

In [309]:
encoder = LabelEncoder()
encoder.fit(X['race_date'])
X['race_date'] = encoder.transform(X['race_date'])

In [310]:
#Creating dummies for categorical names
X_dummies = pd.get_dummies(X[['name']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('name', axis=1, inplace=True)

In [311]:
#Creating dummies for categorical sex
X_dummies = pd.get_dummies(X[['sex']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('sex', axis=1, inplace=True)

In [312]:
#Creating dummies for meds and equipment
X_dummies = pd.get_dummies(X[['meds_and_equip']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('meds_and_equip', axis=1, inplace=True)

In [313]:
#Creating dummies for jockey
X_dummies = pd.get_dummies(X[['jockey']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('jockey', axis=1, inplace=True)

In [314]:
#Creating dummies for trainer
X_dummies = pd.get_dummies(X[['trainer']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('trainer', axis=1, inplace=True)

In [315]:
#Creating dummies for owner
X_dummies = pd.get_dummies(X[['owner']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('owner', axis=1, inplace=True)

In [316]:
#Creating dummies for weather
X_dummies = pd.get_dummies(X[['weather']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('weather', axis=1, inplace=True)

In [317]:
#Creating dummies for race type
X_dummies = pd.get_dummies(X[['race_type']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('race_type', axis=1, inplace=True)

In [318]:
#Creating dummies for track conditions
X_dummies = pd.get_dummies(X[['track_conditions']])
X = pd.concat([X,X_dummies], axis=1)
X.drop('track_conditions', axis=1, inplace=True)

In [319]:
X.head()

,race_date,weight,age,dollar_odds,program_number,post_position,claim_price,start_position,speed_rating,win_payoff,...,race_type_Maiden Claiming,race_type_Maiden Optional Claiming,race_type_Maiden Special Weight,race_type_Optional Claiming,race_type_Stakes,race_type_Starters Allowance,track_conditions_FM,track_conditions_FT,track_conditions_GD,track_conditions_YL
0,0,119,4,7.20,1.0,1,9500,5.0,44.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1,1,118,3,12.10,4.0,4,0,10.0,96.0,0.0,...,0,0,0,0,0,0,0,1,0,0
2,2,121,5,24.75,6.0,6,20000,10.0,83.0,0.0,...,0,0,0,0,0,0,0,1,0,0
3,3,121,5,3.80,3.0,3,0,7.0,88.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,4,121,4,2.95,3.0,3,0,4.0,86.0,0.0,...,0,0,0,0,0,0,0,1,0,0

In [320]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4053 entries, 0 to 4369
Columns: 2855 entries, race_date to track_conditions_YL
dtypes: float64(8), int32(1), int64(4), uint8(2842)
memory usage: 11.4 MB

In [321]:
#Merged all the non-winning horses to a single category, we will be predicting either a winner or not a winner
Y['finish_position'] = np.where(Y['finish_position'] > 1, 2, Y['finish_position'])
Y.head()

C:\Users\Mike\AppData\Local\Temp/ipykernel_4292/3281760349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y['finish_position'] = np.where(Y['finish_position'] > 1, 2, Y['finish_position'])

   finish_position
0              2.0
1              2.0
2              2.0
3              2.0
4              2.0

In [322]:
Y = Y.astype(str)
Y_dummies = pd.get_dummies(Y[['finish_position']])
Y = pd.concat([Y,Y_dummies], axis=1)
Y.drop('finish_position', axis=1, inplace=True)

In [323]:
Y.head()

   finish_position_1.0  finish_position_2.0
0                    0                    1
1                    0                    1
2                    0                    1
3                    0                    1
4                    0                    1

In [324]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(X,Y,test_size = 0.2, random_state = 0)

In [325]:
model = keras.Sequential(
    [
        layers.Dense(1400, activation='sigmoid', name='layer1'),
        layers.Dense(700, activation='relu', name='layer2'),
        layers.Dense(200, activation='relu', name='layer3'),
        layers.Dense(20, activation='relu', name='layer4'),
        layers.Dense(2, activation='softmax', name='output1'),
    ]
)

In [326]:
model.compile(loss = 'categorical_crossentropy' , optimizer = 'adam' , metrics = ['accuracy'] )

In [328]:
#model.summary() # model architecture
checkpointer = ModelCheckpoint(filepath="weights.hdf5", monitor = 'val_accuracy', verbose=1, save_best_only=True) # save model's best weights

history = model.fit(
                    train_x, 
                    train_y, 
                    epochs=20,  
                    callbacks = [checkpointer], 
                    validation_data = (test_x, test_y)
                    )

model_name = "horserace.h5"
model.save(model_name)

Epoch 1/20
102/102 [==============================] - 1s 6ms/step - loss: 0.2076 - accuracy: 0.9352 - val_loss: 0.2252 - val_accuracy: 0.9273

Epoch 00001: val_accuracy improved from -inf to 0.92725, saving model to weights.hdf5
Epoch 2/20
102/102 [==============================] - 0s 3ms/step - loss: 0.2076 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00002: val_accuracy did not improve from 0.92725
Epoch 3/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00003: val_accuracy did not improve from 0.92725
Epoch 4/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00004: val_accuracy did not improve from 0.92725
Epoch 5/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00005: val_accuracy did not improve from 0.92725
Epoch 6/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2076 - accuracy: 0.9352 - val_loss: 0.2251 - val_accuracy: 0.9273

Epoch 00006: val_accuracy did not improve from 0.92725
Epoch 7/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00007: val_accuracy did not improve from 0.92725
Epoch 8/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2249 - val_accuracy: 0.9273

Epoch 00008: val_accuracy did not improve from 0.92725
Epoch 9/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00009: val_accuracy did not improve from 0.92725
Epoch 10/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00010: val_accuracy did not improve from 0.92725
Epoch 11/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2249 - val_accuracy: 0.9273

Epoch 00011: val_accuracy did not improve from 0.92725
Epoch 12/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00012: val_accuracy did not improve from 0.92725
Epoch 13/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2076 - accuracy: 0.9352 - val_loss: 0.2251 - val_accuracy: 0.9273

Epoch 00013: val_accuracy did not improve from 0.92725
Epoch 14/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2076 - accuracy: 0.9352 - val_loss: 0.2252 - val_accuracy: 0.9273

Epoch 00014: val_accuracy did not improve from 0.92725
Epoch 15/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2252 - val_accuracy: 0.9273

Epoch 00015: val_accuracy did not improve from 0.92725
Epoch 16/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00016: val_accuracy did not improve from 0.92725
Epoch 17/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00017: val_accuracy did not improve from 0.92725
Epoch 18/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00018: val_accuracy did not improve from 0.92725
Epoch 19/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2076 - accuracy: 0.9352 - val_loss: 0.2250 - val_accuracy: 0.9273

Epoch 00019: val_accuracy did not improve from 0.92725
Epoch 20/20
102/102 [==============================] - 0s 4ms/step - loss: 0.2075 - accuracy: 0.9352 - val_loss: 0.2249 - val_accuracy: 0.9273

Epoch 00020: val_accuracy did not improve from 0.92725